Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-use-nodiscard
WarningsAsErrors: ''
HeaderFilterRegex: '^.*/(src|include)/.*'
FormatStyle: file
